{% extends 'base.html'%}

{%block title%}ALL{%endblock%}

{%block content%}
<h2 class="header">All Books</h2>
<ul class="books">
    {% for book in books %}
    <div  class="book">
        <a class="cover" href="{{ url_for('book_detail', book_id=book.id) }}"></a>
        <img src= "{{ url_for('uploaded_file', filename=book.filename) }}"   class="cover-img" alt="cover img">
        <a class="book-text" href="{{ url_for('book_detail', book_id=book.id) }}">
        
            <h4>{{ book.name }}</h4>
            <p class="genre">{{book.genre}}</p>
        
        </a>
    </div>
    {% endfor %}
    
</ul>
<script src="{{url_for('static',filename='js/app.js')}}"></script>
{%endblock%}


