{% extends 'base.html'%}
{%block title%}purchase{%endblock%}

{%block content%}
<div class="form_container">
    <form action="/buy_form/{{book.id}}" method = 'post'>
        
        <label for="name">Name</label>
        <input type="text" name="name" id="name" value="{{user.name}}" required>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" required>
        <label for="phone_num">Phone Num</label>
        <input type="number" name="phone_num" id="phone_num" required>
        <button type="submit">submit</button>
    </form>
</div>

{%endblock%}