{%extends 'base.html'%}
{%block title%}Add-Book{%endblock%}

{%block content%}
    <div class="form_container">
        <form action="{{url_for('create_book')}}" method="post"  enctype="multipart/form-data">
            <h1>Add A book </h1>
            <label for="name">Name</label>
            <input type="text" name="name" id="name">
            <label for="genre">Genre</label>
            <input type="text" name="genre" id="genre">
            <label for="cover_img">Cover Image:</label>
            <input type="file" name="cover_img" >
            <label for="description">Description</label>
            <textarea  name="description" id="description"></textarea>
            <label for="price">Price</label>
            <input type="number" name="price" id="price">
            <button type="submit">Add</button>
        </form>
    </div>
{%endblock%}