{% extends 'base.html'%}

{%block title%}Profile{%endblock%}

{%block content%}
<h2 class="header">My Books</h2>
<div class="books">
    {% for book in books %}
    <ul class="book">
        <a class="cover" href="{{ url_for('book_detail', book_id=book.id) }}"></a>
        <img src= "{{ url_for('uploaded_file', filename=book.filename) }}" alt="cover img">
        <a class="book-text" href="{{ url_for('book_detail', book_id=book.id) }}">
            <h4>{{ book.name }}</h4>
            <p class="genre">{{book.genre}}</p>
        </a>
    </ul>
   
    {% endfor %}
</div class="books">
{%endblock%}

