{% extends 'base.html'%}

{%block title%}login{%endblock%}

{%block content%}
<div class="form_container">
    <form action="{{url_for('register')}}" method="post">
        <h1>Register </h1>
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
        <label for="genre">Password</label>
        <input type="text" name="password" id="password">
        <button type="submit">Submit</button>
        <a href="{{url_for('login')}}">I have an acount</a>
    </form>
</div>
{%endblock%}
